@font-face {
  font-family: playfair;
  src: url("./fonts/PlayfairDisplay.ttf");
}

@font-face {
  font-family: jakarta;
  src: url("./fonts/PlusJakartaSans.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply max-w-screen-xl mx-auto text-zinc-800 dark:text-zinc-200 bg-creamson dark:bg-zinc-900; */
  @apply font-jakarta max-w-screen-xl mx-auto text-zinc-900 bg-creamson scroll-smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
