@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply !scroll-smooth;
}

body {
  @apply mx-auto max-w-screen-xl scroll-smooth bg-creamson text-zinc-900;
}

.custScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #fff0de #b1454a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
