@font-face {
  font-family: playfair;
  src: url("./fonts/PlayfairDisplay.ttf");
}

@font-face {
  font-family: jakarta;
  src: url("./fonts/PlusJakartaSans.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mx-auto max-w-screen-xl scroll-smooth bg-creamson font-jakarta text-zinc-900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
